
#navigation{
    width: 30%;
    justify-content: space-between;
    opacity: 0.8;
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: auto
}

#navigation a{
    font-size: 24px;
    text-decoration: none;
    color: white !important;
    letter-spacing: -4px;
}


@media (min-width: 1920px)  {
    #navigation{
        width: 25%;
        justify-content: space-around;
    }
    #navigation p{
        font-size: 32px;
    }
}

@media (max-width: 1440.95px){
    #navigation p{
        font-size: 20px;
    } 
}



@media (max-width: 1024.95px){
    #navigation p{
        font-size: 18px;
    } 
}


@media (max-width: 768.95px){
    #navigation{
        width: 30%;
    } 
    #navigation p{
        font-size: 15px;
    } 
}

@media (max-width: 640.95px){
    #navigation{
        width: 60%;
    } 
}