.HomeContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}
/* FIRST SECTION */

.first-section{
    position: relative;
}


.row-1{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: start;
}

.row-2{
    display: flex;
}

.row-2 .HeaderContain{
    margin-left: auto;
}


.scrollDownContain{
    position: absolute;
    color: rgb(255, 194, 0);
    left: 40px;
    bottom: 40px;
}

.scrollDownContain>img:nth-child(1){
    position: relative;
    bottom: 55px;
    left: 90px;
}


.scrollDownContain>img:nth-child(2){
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.first-section h1 {
    font-size: 260px;
    font-weight: 500;
    color: white;
}

/* SECOND SECTION */

.second-section{
    margin-top: 200px;
    gap: 140px;
    display: flex;
    align-items: flex-start;
}

.second-section img{
   width: 35%;
   border-radius: 15px;
}

.aboutTxtContainer{
    color: white;
    display: flex;
    width: 53%;
    flex-direction: column;
}

.aboutTxtContainer h1{
    font-size: 100px;
    align-self: flex-start;
    margin-bottom: 56px;
}

.aboutTxtContainer .aboutTxt {
    font-size: 32px;
    opacity: 0.5;
    width: 80%;
    display: block;
    margin-left: auto;
    overflow: hidden;
    word-wrap: break-word;
}


/* THIRD SECTION */

.third-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.third-section h1{
    font-size: 120px;
    color: white;
    padding-top: 204px;
}

/* FOURTH SECTION */

.fourth-section{
    padding-top: 204px;
}

.projectsHeader{
    font-size: 150px;
    display: flex;
}

.project-list{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 172px;
}


.gYkKGF {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gYkKGF .project {
    display: flex;
    flex-direction: column;
    gap: 24px;
}



.gYkKGF img {
    height: 500px;
} 


.gPHGUk p {
    font-size: 24px;
    line-height: 1.4;
} 


.project-1, .project-3 {
    margin-right: 180px;
    margin-bottom: 180px;
}

.project-2, .project-4{
    margin-top: 180px;
}

