.MenuContainer{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 48px 40px;
    
}

.MenuContainer p {

}


@media (min-width: 1920px)  {
   .MenuContainer{
        padding: 56px;
   }
   .MenuContainer img{
        width: 218px;
        height: 42px;
    }
}

@media (max-width: 1440.95px){
    .MenuContainer{
        padding: 32px;
   }
   .MenuContainer img{
        width: 153px;
        height: 28px;
   }  
}


@media (max-width: 1024.95px){
    .MenuContainer{
        padding: 24px;
    }
    .MenuContainer img{
        width: 120px;
        height: 22px;
    }  
}

@media (max-width: 768.95px){
    .MenuContainer {
        padding: 20px;
    }
}

@media (max-width: 640.95px){
    .MenuContainer {
        padding: 20px 16px;
    }
    .MenuContainer img {
        width: 98px;
        height: 18px;
    }
}