

@media (min-width: 1920px){
    .all-works-btn-wrapper{
        padding-top: 180px;
    }
    button{
        height: 104px;
        max-width: 708px;
    }
    
    .bcdGUd .SymbolWrapper div h1{
       font-size: 35px;
    }
    .bcdGUd .SymbolWrapper{
        width: 200%;
    }
    .bcdGUd:hover   .pseudo-text-effect::after {
        transform: translateY(100%);
    }
    button p {
        font-size: 32px;
    }
    .bcdGUd  .SymbolWrapper .pseudo-text-effect{
        line-height: 4;
        letter-spacing: 1px;
    }
    .bcdGUd {
        height: 104px;
    }
    .bcdGUd.primary-small-button {
        width: 545px;
    }
}

@media (max-width: 1792.95px){
    .all-works-btn-wrapper .all-works-btn {
        width: 648px;
    }
}


@media (max-width: 1440.95px){
    .bcdGUd {
        height: 81px;
    }
    .all-works-btn-wrapper{
        padding-top: 160px;
    }
    .bcdGUd.primary-small-button {
        width: 545px;
    }
    .all-works-btn-wrapper .all-works-btn {
        width: 548px;
    }
    .bcdGUd:hover .pseudo-text-effect::after {
        transform: translateY(150%);
    }
    .bcdGUd:hover .pseudo-text-effect {
        transform: translateY(-100%);
    }
}


@media (max-width: 1024.95px){
    .bcdGUd {
        height: 74px;
    }
    .all-works-btn-wrapper{
        padding: 140px 0px;
    }
    .bcdGUd.primary-small-button {
        width: 545px;
    }
    .all-works-btn-wrapper .all-works-btn {
        width: 497px;
    }
}

@media (max-width: 768.95px) {    
    .bcdGUd:hover   .pseudo-text-effect{
        transform: translateY(0%);
    }
}

@media (max-width: 640.95px){
    .all-works-btn-wrapper .all-works-btn {
        width: 343px;
    }
    
    .bcdGUd:hover>.button-top-icons svg:first-child{
        transform: translate(-190%,-70%) scale(80%);
    }

    .bcdGUd:hover>.button-top-icons svg:last-child{
        transform: translate(100%,-70%) scale(80%);
    }


    .bcdGUd:hover>.button-bottom-icons svg:first-child{
        transform: translate(-170%,-15%) scale(80%);
    }

    .bcdGUd:hover>.button-bottom-icons svg:last-child{
        transform: translate(20%,-5%) scale(80%);
    }

    .bcdGUd {
        height: 72px;
    }
    .all-works-btn-wrapper{
        padding: 0px;
        padding-top: 80px;
    }
    button>.SymbolWrapper .pseudo-text-effect{
        font-size: 18px;
    }
}


@media (max-width: 460.95px){
    button p{
        font-size: 20px;
        line-height: 5.15;
    }
}

@media (max-width: 460.95px){
   
}