
.circle {
    position: absolute;
    z-index: 1;
    display: block;
    max-width: 100%;
}
.circle img {
    display: block;
    max-width: 100%;
}


 .unFocusContainer .circle img {
     position: absolute;
     filter: blur(10px);
     border-radius: 50%;
 }
 
 .circle-0 {
    width: 200px;
    top: 80px;
    left: 600px;
     animation: 24s linear 0s infinite normal none running spin-right;
 }

 .circle-0 img {
    width: 200px;
}


 
 .circle-1 {
    width: 230px;
    top: 310px;
    right: 330px;
     animation: 24s linear 0s infinite normal none running spin-left;
 }
 .circle-1 img {
    width: 230px;
}
 
 .circle-2 {
    width: 340px;
    top: 500px;
    left: 400px;
     animation: 20s linear 0s infinite normal none running spin-right;
 }
 .circle-2 img {
    width: 340px;
}


 
 @keyframes spin-right {
    0% {
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
 }
 
 @keyframes spin-left {
    0% {
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    100% {
        transform: rotate(-360deg) translateX(100px) rotate(360deg);
    }
 }
 
 


 @media (max-width: 1920.95px){
    .circle-0 {
        width: 220px;
        top: 80px;
        left: 600px;
    }
    .circle-0 img {
        width: 120px;
    }
    

    .circle-1 {
        right: 120px;
        width: 240px;
        top: 200px;
    }
    .circle-1 img {
        width: 140px;
    }

    .circle-2 {
        width: 206px;
        top: 530px;
        left: 400px;
    }
    .jlSdCT .circle-2 img {
        width: 206px;
    }
 }

 @media (max-width: 1792.95px){
    .circle-0 {
        top: 120px;
        width: 220px;
        left: 600px;
    }
    .jlSdCT .circle-2 {
        width: 206px;
        top: 480px;
        left: 300px;
    }
 }


 @media (max-width: 1440.95px){
    .circle-0 {
        width: 98px;
        top: 130px;
        left: 475px;
    }
    .circle-0 img {
        width: 98px;
    }

    .circle-1 {
        width: 114px;
        top: 400px;
        right: 150px;
    }
    .circle-1 img {
        width: 114px;
    }
    .circle-2 {
        width: 167px;
        top: 380px;
        left: 210px;
    }
    .circle-2 img {
        width: 167px;
    }
 }


 @media (max-width: 1024.95px){
    .circle-0 {
        width: 75px;
        top: 345px;
        left: 375px;
    }
    .circle-0 img {
        width: 75px;
    }
    .circle-1 {
        width: 87px;
        top: 250px;
        right: 130px;
    }
    .circle-1 img {
        width: 87px;
    }
    .circle-2 {
        width: 127px;
        top: 480px;
        left: 200px;
    }
    .jlSdCT .circle-2 img {
        width: 127px;
    }
 }


 @media (max-width: 768.95px){
    .circle-0 {
        top: 250px;
        left: 230px;
    }
    .circle-0 img {
        width: 75px;
    }
    .circle-1 {
        top: 400px;
        left: 455px;
    }
    .jlSdCT .circle-2 {
        top: 500px;
        left: 100px;
    }
}

@media (max-width: 640.95px){
    .circle-0 {
        top: 230px;
        left: 120px;
    }
    .circle-1 {
        top: 450px;
        left: 400px;
    }
    .circle-2 {
        top: 650px;
        left: 100px;
    }
}